﻿@model BusinessActivitySearchViewModel
@{
    ViewData["Title"] = "Wyszukaj firmę";
}

<div class="row justify-content-center">
    <div class="col">
        <h1 class="display-4 text-center break-word">@ViewData["Title"]</h1>
    </div>
</div>

<hr class="my-3" />

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3">

        <form id="searchForm" asp-controller="BusinessActivities" asp-action="@nameof(BusinessActivitiesController.Index)">
            <div class="form-group">
                <label asp-for="Id"></label>
                <input asp-for="Id" id="searchInput" class="form-control">
                <span asp-validation-for="Id"></span>
            </div>
        </form>

        <button id="sendButton" class="btn btn-success btn-lg" type="button">
            <i class="fas fa-search pr-1"></i>
            Szukaj
        </button>

        <h5 id="errorMessage" class="my-3 text-danger"></h5>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 align-self-center">
        <div class="alert alert-info my-3">
            W pole wyszukiwarki można wprowadzić jeden z trzech numerów:
            <ul>
                <li>
                    KRS &mdash; 10-cyfrowy numer;
                </li>
                <li>
                    NIP &mdash; 10-cyfrowy numer z opcjonalnym prefiksem "PL" lub trzema myślnikami w środku np. 725-18-01-126;
                </li>
                <li>
                    REGON &mdash; 9-cyfrowy numer.
                </li>
            </ul>
        </div>
    </div>
</div>

<hr class="my-3" />

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">

        <div id="model"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
