﻿@model BusinessActivitySearchViewModel

<div id="errorMessageBody">@ViewBag.ErrorMessage</div>
<div id="modelBody">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label asp-for="Krs"></label>
        <input asp-for="Krs" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label asp-for="Nip"></label>
        <input asp-for="Nip" class="form-control" readonly>
    </div>

    <div class="form-group">
        <label asp-for="Regon"></label>
        <input asp-for="Regon" class="form-control" readonly>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-9">
            <div class="form-group">
                <label asp-for="Street"></label>
                <input asp-for="Street" class="form-control" readonly>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label asp-for="StreetNumber"></label>
                <input asp-for="StreetNumber" class="form-control" readonly>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" class="form-control" readonly>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" readonly>
            </div>
        </div>
    </div>
</div>